service: stock-monitor-backend
frameworkVersion: '3'
useDotenv: true

plugins:
  - serverless-plugin-typescript

provider:
  name: aws
  runtime: nodejs22.x
  region: ${env:AWS_REGION}
  # The S3 prefix under which deployed artifacts are stored (default: serverless)
  # deploymentPrefix: serverless
  # Configure the S3 bucket used by Serverless Framework to deploy code packages to Lambda
  deploymentBucket:
    # Name of an existing bucket to use (default: created by serverless)
    name: ${env:DEPLOYMENT_BUCKET}
    # On deployment, serverless prunes artifacts older than this limit (default: 5)
    maxPreviousDeploymentArtifacts: 5
    # Prevents public access via ACLs or bucket policies (default: false)
    # Note: the deployment bucket is not public by default. These are additional ACLs.
    blockPublicAccess: true
    # Skip the creation of a default bucket policy when the deployment bucket is created (default: false)
    # skipPolicySetup: true
    # Enable bucket versioning (default: false)
    # versioning: true
    # Server-side encryption method
    serverSideEncryption: AES256
    # For server-side encryption
    # sseKMSKeyId: arn:aws:kms:us-east-1:xxxxxxxxxxxx:key/aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa
    # For server-side encryption with custom keys
    # sseCustomerAlgorithim: AES256
    # sseCustomerKey: string
    # sseCustomerKeyMD5: md5sum
  tracing:
    lambda: true
    apiGateway: true
  timeout: 25 # optional, in seconds, default is 6
  environment:
    STAGE: ${opt:stage, 'dev'}
    TZ: Asia/Seoul
    NOTION_TOKEN: ${env:NOTION_TOKEN}
    NOTION_PAGE_ID: ${env:NOTION_PAGE_ID}
    NOTION_DATASOURCE_ID: ${env:NOTION_DATASOURCE_ID}
    SLACK_TOKEN: ${env:SLACK_TOKEN}
    SLACK_CHANNEL: ${env:SLACK_CHANNEL}

functions:
  # rateHandler:
  #   handler: index.run
  #   events:
  #     # Invoke Lambda function every minute
  #     - schedule: rate(1 minute)
  # cronHandler:
  #   handler: index.run
  #   events:
  #     # Invoke Lambda function every 2nd minute from Mon-Fri
  #     - schedule: cron(0/2 * ? * MON-FRI *)

  handler:
    handler: src/handler.run
    events:
      # pre market (09:00 ~ 14:29 UTC)
      - schedule: cron(0 9-14 ? * MON-FRI *)
      # regular market (14:30 ~ 21:00 UTC)
      - schedule: cron(0 15-20 ? * MON-FRI *)
      # after market (21:00 ~ 01:00 UTC)
      - schedule: cron(0 21-23 ? * MON-FRI *)
      - schedule: cron(0 0 ? * TUE-SAT *)
